.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1rem; /* controla a distância da linha abaixo do texto */
  width: 0;
  height: 3px;
  background-color: white; /* cor do underline */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.home::first-letter {
  display: inline-block; /* Necessário para permitir transformações */
  transition: all 1s ease;
}

.home:hover::first-letter {
  color: #d9a75f;
  transform: scale(1.3); /* Simula o aumento de tamanho */
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.item:hover {
  transform: translate(0, -10px);
  transition: all 0.5s ease;
}

.video:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
  border: 1px solid white;
}

@keyframes zoomBackground {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/*muda a cor da text area ao clicar*/
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #9c5c6b;
  background-color: #fff0f3;
  transition: all 0.3s ease;
}

/*animação do botão*/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.contact-form button:hover {
  animation: pulse 0.5s ease-in-out;
  background-color: #9c5c6b;
  transition: background-color 0.3s ease;
}

.imagem-contato:hover {
  transform: rotate(1deg) scale(1.02);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.titulo-contato:hover {
  color: #ffcccb; /* tom claro para destacar no fundo escuro */
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/*Efeito do Footer*/

.footer-link:hover {
  color: #d9a75f;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.footer-link:active{
  color: #6d4e23;
  text-decoration: underline;
  transition: all 0.3s ease;
}