/* css Mapa da Uva */

.landing-page-uva {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .img-fundo{
    width: 100%;
    filter: blur(15px);
    display: block;
  }
  
  .img-mapaUva{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    transform: translate(-50%, -45%);
  }
  
  .form-uva {
    background-color: #864655;
    border-radius: 25px;
    height: auto;
    width: 50%; 
    margin: auto;

  }
  table{
    padding: 10px;
    margin: 10px auto;
    
  }
  th{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 25px;
    text-align: center;
  }
   td {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 25px;
    text-align: left;
  }
  
  .img-uva {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.nome-uva{
  font-weight: bold;
}
 

.container {
  max-width: 900px;
  margin: 50px auto 10px auto;
  background-color: #fff;
  border: 3px solid #d9a75f;
  border-top: 60px ; 
  border-radius: 10px;
  padding: 4rem 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
  font-family: 'Georgia', serif;
  font-size: 40px;
  text-align: center;
  color: #8b2e28;
  margin-bottom: 30px;
}

.vinho-section {
  margin-bottom: 30px;
}

.vinho-section h2 {
  color: #d9a75f;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-size: large;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

ul li {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: medium;
}

.divisao {
  margin: 40px ;
  border-top: 2px solid #8b4742;
}